{% extends "chinh.html" %}
{% block content %}




{% if  current_user.is_authenticated  %}
    Hi {{ current_user.taikhoan }}!

{% else %}
    <form method="post" action="{{ url_for('xacminhdangnhap') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
        <label for="xotendangnhapa">Tên đăng nhập </label>
        <input  class="form-control" name="tendangnhap" placeholder="Điền tên đăng nhập vào đây ">
      </div>
      <div class="form-group">
        <label for="matkhautaikhoan">Nhập mật khẩu </label>
        <input type="password" class="form-control" name="matkhautaikhoan" placeholder="Điền mật khẩu vào đây ">
      </div>
      <button type="submit" class="btn btn-primary">Đăng nhập</button>
     </form>

{% endif %}

{% endblock %}